---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My Awesome blog subtitle</h2>
  <!-- <Greeting client:load message={["Hi", "Hello", "Howdy", "Hey there"]} /> -->
  <Greeting client:load message={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
